<header>
    <hgroup>
        <h1>Test Document</h1>
        <h2>For All HTML5 Tags</h2>
    </hgroup>
    <nav>
        <a href="#article1">article1</a>
        <a href="#article2">article2</a>
    </nav>
</header>
<main>
    <p>Please press <kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>R</kbd> to re-render this page.</p>
    <section class="articles">
        <article id="article1">
            <h1>Article1</h1>
            <h2>subtitle</h2>
            <time>2019/01/01 00:00:00</time>
            <details>
                <summary>summary</summary>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus, beatae corporis dolor
                    dolorum,
                    ducimus, exercitationem harum ipsum maxime molestiae nisi odit praesentium quaerat quasi rerum
                    sapiente
                    sint tempore tenetur!
                </p>
            </details>
            <h3>paragraph1</h3>
            <figure>
                <picture>
                    <source srcset="//placehold.it/400x400" media="(min-width: 800px)"/>
                    <img src="//placehold.it/200x200" alt="blank image" usemap="#imagemap1" width="200" height="200"/>
                </picture>
                <map name="#imagemap1">
                    <area alt="top left" shape="rect" coords="0,0,100,100" title="top left"/>
                    <area alt="top right" shape="rect" coords="100,0,200,100" title="top right"/>
                    <area alt="bottom left" shape="rect" coords="0,100,100,200" title="bottom left"/>
                    <area alt="bottom right" shape="rect" coords="100,100,200,200&quot;" title="bottom right"/>
                </map>
                <figcaption>this is image maps example</figcaption>
            </figure>
            <p>
                <b>Lorem ipsum dolor sit amet</b>, consectetur adipisicing elit. <sup>Ab accusamus</sup>, beatae
                corporis dolor
                dolorum,
                ducimus, <abbr>EHIM</abbr> molestiae nisi odit praesentium quaerat quasi rerum sapiente
                sint tempore tenetur!<br/>
                Lorem ipsum dolor sit amet, <i>consectetur</i> adipisicing elit. Ab accusamus, <sub>beatae</sub>
                corporis dolor dolorum,
                ducimus, exercitationem harum
                <del> maxime molestiae nisi</del>
                ipsum odit praesentium
                <ins>quaerat quasi rerum sapiente</ins>
                sint tempore tenetur!
            </p>
            <aside>
                <bdi class="name">اَلأَعْشَى</bdi>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut commodi doloribus exercitationem
                temporibus voluptas!
            </aside>
            <h4>heading4</h4>
            <p>
                <dfn>Lorem ipsum</dfn> dolor sit amet, <em>consectetur adipisicing elit</em>. Aliquid
                <span>delectus</span> deleniti error exercitationem
                harum hic libero nisi nobis quaerat <small>quam qui quos sapiente</small>,
                <mark>tempore totam veritatis</mark>
                ? Ad amet autem modi.
                <bdo dir="rtl">This text will go right to left.</bdo>
            </p>
            <p>
                When Dave asks <strong>HAL</strong> to open the pod bay door, HAL answers: <q
                    cite="https://www.imdb.com/title/tt0062622/quotes/qt0396921">I'm sorry, Dave. I'm afraid I can't do
                that.</q>
            </p>
            <h5>heading5</h5>
            <p>
                <u>rolem ipum</u> dolor sit amet, consectetur adipisicing elit. Aliquid delectus deleniti error
                exercitationem
                harum hic libero nisi nobis quaerat quam qui quos sapiente, tempore totam veritatis? Ad amet autem modi.
            </p>
            <h6>heading6</h6>
            <p>
                Fernstraßen
                <wbr/>
                bau
                <wbr/>
                privat
                <wbr/>
                finanzierungs
                <wbr/>
                gesetz<br/>
                <samp>
                    Lorem ipsum dolor sit amet, <s>consectetur adipisicing elit</s>. Aliquid delectus deleniti error
                    exercitationem
                    harum hic libero nisi nobis quaerat quam qui quos sapiente, tempore totam veritatis? Ad amet autem
                    modi.
                </samp>
            </p>
        </article>
        <article id="article2">
            <h1>Article2</h1>
            <h2>subtitle</h2>
            <blockquote>
                <p>It was a bright cold day in April, and the clocks were striking thirteen.</p>
                <footer>
                    First sentence in <cite><a href="http://www.george-orwell.org/1984/0.html"><i>Nineteen
                    Eighty-Four</i></a></cite> by George Orwell (Part 1, Chapter 1).
                </footer>
            </blockquote>
            <hr/>
            <h3>Ruby</h3>
            <ruby xml:lang="en">
                <rbc>
                    <rb>馬</rb>
                    <rp>(</rp>
                    <rt>mǎ</rt>
                    <rp>)</rp>
                    <rb>來</rb>
                    <rp>(</rp>
                    <rt>lái</rt>
                    <rp>)</rp>
                    <rb>西</rb>
                    <rp>(</rp>
                    <rt>xī</rt>
                    <rp>)</rp>
                    <rb>亞</rb>
                    <rp>(</rp>
                    <rt>yà</rt>
                    <rp>)</rp>
                </rbc>
                <rtc xml:lang="en">
                    <rp>(</rp>
                    <rt>Malaysia</rt>
                    <rp>)</rp>
                </rtc>
            </ruby>
            <hr/>
            <h3>code</h3>
            <dl>
                <dt>
                    <var>hello</var>
                </dt>
                <dd>
                    <menu>
                        <li>
                            <data value="Hello">Hello</data>
                        </li>
                        <li>
                            <data value="안녕">안녕</data>
                        </li>
                    </menu>
                </dd>
                <dt>
                    <var>world</var>
                </dt>
                <dd>
                    <menu>
                        <li>
                            <data value="world">world</data>
                        </li>
                        <li>
                            <data value="세상아">세상아</data>
                        </li>
                    </menu>
                </dd>
            </dl>
            <pre>                <code>
'use strict';
const hello = 'Hello';
const world = 'world';
function HelloWorld(){
    console.log(`${hello}, ${world}!`);
}
                </code>
            </pre>
            <hr/>
            <h3>lists</h3>
            <h4>ordered</h4>
            <ol>
                <li>item1</li>
                <li>item2</li>
                <li>item3</li>
            </ol>
            <h4>unordered</h4>
            <ul>
                <li>item1</li>
                <li>item2</li>
                <li>item3</li>
            </ul>
            <hr/>
            <h3>table</h3>
            <table>
                <caption>sample table</caption>
                <colgroup>
                    <col class="col-header"/>
                    <col class="group1" span="2"/>
                    <col class="group2" span="2"/>
                </colgroup>
                <tbody>
                <tr>
                    <th>row1</th>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th>row1</th>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                </tbody>
                <thead>
                <tr>
                    <th></th>
                    <th>col1</th>
                    <th>col2</th>
                    <th>col3</th>
                    <th>col4</th>
                </tr>
                <tr>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>summary</th>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                </tfoot>
            </table>
            <hr/>
            <h3>Multimedia</h3>
            <audio src="foo.ogg" controls="">
                <track kind="captions" src="foo.en.vtt" srclang="en" label="English"/>
                <track kind="captions" src="foo.sv.vtt" srclang="sv" label="Svenska"/>
            </audio>
            <br/>
            <video controls="" width="250">
                <source src="sample.webm" type="video/webm"/>
                <source src="sample.mp4" type="video/mp4"/>
                Sorry, your browser doesn't support embedded videos.
            </video>
            <hr/>
            <h3>Embedded content</h3>
            <iframe src="//www.example.com"></iframe>
            <embed/>
            <object>
                <param name="" value=""/>
            </object>
            <hr/>
            <h3>Canvas</h3>
            <canvas id="canvas" width="150" height="150">
                canvas example
            </canvas>
            <noscript>cannot run a script for a canvas</noscript>
            <script type="application/javascript">
              const ctx = document.getElementById('canvas').getContext('2d')
              ctx.fillStyle = 'rgb(200, 0, 0)'
              ctx.fillRect(10, 10, 50, 50)
              ctx.fillStyle = 'rgba(0, 0, 200, 0.5)'
              ctx.fillRect(30, 30, 50, 50)
            </script>
            <hr/>
            <h3>Form</h3>
            <form>
                <meter value="1" max="5"/>
                1/5
                <fieldset>
                    <legend>sample form</legend>
                    <br/>
                    <label>
                        input
                        <input type="text"/>
                    </label>
                    <br/>
                    <label>
                        select
                        <select>
                            <optgroup label="group1">
                                <option value="1" selected="selected">option1</option>
                                <option value="2">option2</option>
                            </optgroup>
                            <optgroup label="group2">
                                <option value="3">option3</option>
                                <option value="4">option4</option>
                            </optgroup>
                        </select>
                    </label>
                    <br/>
                    <datalist>
                        <option value="data1">
                        </option>
                        <option value="data2">
                        </option>
                        <option value="data3">
                        </option>
                    </datalist>
                    <br/>
                    <label>
                        textarea<br/>
                        <textarea></textarea>
                    </label>
                </fieldset>
                <output>
                    sample output
                </output>
                <br/>
                <progress max="10" value="5">50%</progress>
                <br/>
                <button>ok</button>
            </form>
            <hr/>
            <h3>Dialog</h3>
            <dialog open="">Hello world!</dialog>
        </article>
    </section>
</main>
<footer>
    <hr/>
    <address>
        Cecilia Chapman<br/>
        711-2880 Nulla St.<br/>
        Mankato Mississippi 96522<br/>
        (257) 563-7401
    </address>
</footer>
<template id="template1">
    this is
    <slot name="slot1">sample</slot>
    template
</template>
